.header {
  font-family: $main-font;
  display: inline-block;
  width: 100%;
  .header-brand-container {
    height: 140px;
    line-height: 200px;
    text-align: center;
    p {
      font-size: 3rem;
    }
  }
  .nomad-dictionary {
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    padding: 0 2rem;
    height: 60px;

  }
  .nav-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .nav-item {
      border-bottom: 1px dotted #00000045;
      font-size: 2rem;
      text-align: center;
      font-family: $support-font;
      font-weight: 300;
      padding: 0.5rem 0;
    }
    :hover {
      border-bottom: 1px solid #00000045;
    }
  }


}
