.index-section {
  padding: 2rem 4rem;
  font-family: $support-font;
  background-color: mintcream;
  padding-bottom: 5rem;

  .title-section {
    @extend %sub-title-section;
    @extend %full-column;
    height: 100px;
    h3 {
      padding-bottom: 0.2rem;
      line-height: 3rem;
    }
  }

  .index-category-title {
    @extend %full-column;
    h3 {
      font-weight: 300;
    }
  }
  .divider {
    border-bottom: 1px dotted $light-grey;
    height: 3rem;
  }
  .project-list-section {

    margin-bottom: 2rem;
    padding-top: 1rem;
    .project-list-container {
      border-left: 1px dotted grey;
      border-right: 1px dotted grey;
      height: 300px;
      display: flex;
      overflow-y: hidden;

      padding: 0.5rem 0;

      .index-project {
        font-family: $main-font;
        background-color: mistyrose;
        white-space: normal;
        margin-right: 2rem;
        padding: 1rem 2rem;
        height: 285px;
        width: 285px;
        flex: 0 0 auto;

        .caption {
          @extend %italic;
          font-size: 1.5rem;
          color: $light-grey;
        }

        .project-title {
          .job-title {
            font-weight: 700;
            padding: 0.5rem 0;
            line-height: 3rem;
            border-bottom: 1px dotted #00000045;
          }
        }
        h4 {
          font-family: $support-font;
          font-weight: 300;
          .project-by{
            font-size: 1rem;
            @extend %italic;
          }
        }
      }

    }
  }

}
