$main-font: 'Cormorant Garamond', serif;
$support-font: 'Roboto', sans-serif;
$black: #363636;
$light-grey: #a9a9a9bf;

%button-style {
  width: 12rem;
  height: 4rem;
  border-style: none;
  border-bottom: 1px dotted #00000045;
  color: #00000096;
  font-size: 1.8rem;
  font-family: $main-font;
}

%italic {
  font-family: $main-font;
  font-style: italic;
  font-size: 1rem;
  font-weight: 500;
}

%sub-title-section {
  font-family: $main-font;
  padding: 1rem 0;
}

%two-columns-column {
  width: 50%;
}

%full-column {
  padding: 0.5rem 1rem;
}

body {
  min-height: 500px;
  color: #00000096;
  a {
    color: #00000096;
  }
  h1 {
    font-size: 85px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 25px;
  }
  section {
    padding: 3rem 3rem;
  }

  .notice-message {
    font-weight: 400;
    padding: 1rem 0;
    animation: bounce 3s infinite;
    color: #00000045;
  }
  @keyframes bounce {
  	0%, 20%, 60%, 100% {
  		-webkit-transform: translateY(0);
  		transform: translateY(0);
  	}
  	40% {
  		-webkit-transform: translateY(-20px);
  		transform: translateY(-20px);
  	}
  	80% {
  		-webkit-transform: translateY(-10px);
  		transform: translateY(-10px);
  	}
  }

}

@media only screen and (max-width: 960px) {
  body{
    h1 {
      font-size: 65px;
    }
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 60px;
  }
}

@import 'partials/header';
@import 'pages/home';
@import 'pages/index';
@import 'partials/form';
@import 'pages/show';
@import 'pages/profile';
