$main-font: 'Cormorant Garamond', serif;
$support-font: 'Roboto', sans-serif;
$black: #363636;

%button-style {
  width: 12rem;
  height: 4rem;
  border-style: none;
  border-bottom: 1px dotted #00000045;
  color: #00000096;
  font-size: 1.8rem;
  font-family: $main-font;
}


body {
  min-height: 500px;
  color: #00000096;
  a {
    color: #00000096;
  }
  h1 {
    font-size: 85px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 35px;
  }
  section {
    padding: 3rem 5rem;
  }
}

@media only screen and (max-width: 960px) {
  body{
    h1 {
      font-size: 65px;
    }
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 60px;
  }
}

@import 'partials/header';
@import 'partials/home';
@import 'partials/index';
@import 'partials/form';
@import 'partials/show'
